@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));



.custom-glow {
    -webkit-box-shadow:0px 0px 300px 128px rgba(0,34,120,1);
    -moz-box-shadow: 0px 0px 300px 128px rgba(0,34,120,1);
    box-shadow: 0px 0px 300px 128px rgba(0,34,120,1);
}
