@import 'tailwindcss';

.circle-glow {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 220px;
    height: 220px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255,0,0,0.45), transparent 70%);
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    pointer-events: none;
    filter: blur(20px);
    z-index: 5;
}

.glow-group:hover .circle-glow {
    opacity: 0.8;
}

.glow-group > a {
    position: relative;
    z-index: 10;
}